@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>板块列表页面</h2>


<table id="dgPanel" title="板块列表" class="easyui-datagrid" data-options="url:'/UD_Panel/GetList',method:'post',toolbar:'#toolbar',fitcolumns:false,singleSelect:true,pagination:true,pageList:[10,20,30],rownumbers:false,onLoadSuccess:LoadSuccess" style="width: 100%; height: 380px">
    @*<thead>
        <tr>
            <th field="ID" hidden="true">ID</th>
            <th field="Name">板块名称</th>
            <th field="Code">编码</th>
            <th field="SortID">排序号</th>
            <th field="ModelName">Model实体名称</th>
            <th field="Enabled">可用标识</th>
            <th field="Description">描述</th>
            <th field="DisplayType">展示类型</th>
            <th field="FieldCount">每行列数</th>
            <th field="AdvanceFind">高级查询</th>
            <th field="DefaultSortFields">默认排序字段</th>
            <th field="Description">描述</th>
            <th data-options="field:'Empty',width:80,align:'right',formatter:formatLink">表字段信息</th>
            <!--此处如果绑定了ID字段会导致列隐藏，若在绑定时将隐藏的ID列注释则可以正常显示-->
        </tr>
    </thead>*@
</table>
<script type="text/javascript">
    $("#dgPanel").datagrid({
        columns: [[
            { field: "ID", title: "ID", hidden: true },
            { field: "Code", title: "板块编码" },
            { field: "Name", title: "板块名称" },
            {
                field: "DetailView", title: "所属详细视图", formatter: function (value, row, index) {
                    var result = "";
                    if (value != undefined) {
                        $.ajax({
                            url: "/UD_DetailView/GetList/" + value,
                            type: "POST",
                            dataType: "json",
                            async: false,
                            success: function (data) { result = data; }
                        });
                    }
                    if (result != undefined && $.isArray(result)) {
                        return result[0].Name;
                    }
                }
            },
            {
                field: "SortID", title: "显示顺序", formatter: function (value, row, index) {
                    if (value == undefined) return 0;
                    return value;
                }
            },
            { field: "Enabled", title: "可见标识", formatter: formatYN },
            { field: "Description", title: "描述" },
            {
                field: "DisplayType", title: "显示形式", formatter: function (value, row, index) {
                    var result = memorize("UD_PanelDisplayType");
                    /*
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "/Dic/GetDicColByTableCode/UD_PanelDisplayType",
                        dataType: "json",
                        success: function (data) {
                            result = data;
                        }
                    });
                    */
                    var length = result.length;
                    var r = "";
                    for (var i = 0; i < length; i++) {
                        var dic = result[i];
                        if (value == dic.Code) {
                            return dic.Name;
                        }
                    }
                }
            },
            { field: "FieldCount", title: "每行列数" }
        ]]
    });

    function LoadSuccess() { }
    function formatLink() { }
</script>
