@{
    ViewBag.Title = "GetFieldsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetFieldsList</h2>



<div style="margin: 20px 0 10px 0;"></div>
<div class="easyui-tabs" style="width: 700px; height: 250px">
    <div title="数据表信息" style="padding: 10px">

        <form id="fmTable" method="post" novalidate>
            <input type="hidden" name="ID" />
            <div class="fitem">
                <label>表名:</label>
                <input name="Name" class="easyui-textbox" required="true">
            </div>
            <div class="fitem">
                <label>显示名称:</label>
                <input name="DisplayName" class="easyui-textbox" required="true">
            </div>
            <div class="fitem">
                <label>是否含扩展字段:</label>
                <select class="easyui-combobox" id="cmbExtFlag" name="ExtFlag" data-options="editable:false,required:true,panelHeight:'auto'" style="width: 150px">
                    <option value="0">否</option>
                    <option value="1" selected>是</option>
                </select>
            </div>
            <div class="fitem">
                <label>Model名称:</label>
                <input name="ModelName" class="easyui-textbox" required="true">
            </div>
            <div class="fitem">
                <label>是否为树形结构:</label>
                <select class="easyui-combobox" id="cmbTreeFlag" name="TreeFlag" data-options="editable:false,required:true,panelheight:'auto'" style="width: 150px;">
                    <option value="0" selected>否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </form>

    </div>
    <div title="表包含字段" style="padding: 10px">
        @*<ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true"></ul>*@
    </div>
    @*<div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding: 10px">
        This is the help content.
    </div>*@
</div>


<script type="text/javascript">
    $("#cmbExtFlag").combobox({
        url: '/Dic/GetDicColByTableCode/PUB_YesOrNo',
        valueField: 'Code',
        textField: 'Name'
    });
    $("#cmbTreeFlag").combobox({
        url: '/Dic/GetDicColByTableCode/PUB_YesOrNo',
        valueField: 'Code',
        textField: 'Name'
    });
    $.post("@Url.Action("GetTableList")", { id: '@Model' }, function (data) {
        if (data.ErrorMsg) {
            $.messager.show({ title: '错误', msg: data.ErrorMsg });
        } else {
            $("#fmTable").form('load', data[0]);
        }
    })

</script>
