@{
    ViewBag.Title = "GetField";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetField</h2>

<div id="p" class="easyui-panel" title="数据表字段详细信息" style="width: 700px; height: 200px; padding: 10px;">

    <form id="fmField" method="post" novalidate>
        <div class="fitem">
            <label>字段名称:</label>
            <input name="FieldName" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>显示名称:</label>
            <input name="FieldDisplayName" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>数据类型:</label>
            <input id="cmbExtFlag" name="ExtFlag" class="easyui-combobox" data-options="editable:false,required:true,panelHeight:'auto'url:'/Dic/GetDicColByTableCode/DataType'" style="width: 155px" />
        </div>
        <div class="fitem">
            <label>数据长度:</label>
            <input name="DataLength" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>默认值:</label>
            <input name="DefaultValue" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>最后更新时间:</label>
            <input name="UpdateTime" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>描述:</label>
            <input name="Description" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>关联类型:</label>
            <input id="cmbRelationTableName" name="RelationTableName" class="easyui-combobox" data-options="editable:false,required:true,panelHeight:'auto'url:'/Dic/GetDicColByTableCode/DataType'" style="width: 155px" />
        </div>
    </form>

</div>
