@{
    ViewBag.Title = "GetTableDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetTableDetail</h2>



<div style="margin: 20px 0 10px 0;"></div>
<div class="easyui-tabs" style="width: 700px; height: 250px">
    <div title="数据表信息" style="padding: 10px">
        <div>hello</div>
    </div>
    <div title="表包含字段" style="padding: 10px">
        <ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true"></ul>
    </div>
    <div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding: 10px">
        This is the help content.
    </div>
</div>
