@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.4.2/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.4.2/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../jquery-easyui-1.4.2/demo/demo.css">
<script type="text/javascript" src="../../jquery-easyui-1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="../../jquery-easyui-1.4.2/jquery.easyui.min.js"></script>

<h2>Basic Dialog</h2>
<p>Click below button to open or close dialog.</p>
<div style="margin: 20px 0;">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('open')">Open</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('close')">Close</a>
</div>
<div id="dlg" class="easyui-dialog" title="Basic Dialog" data-options="iconCls:'icon-save'" style="width: 400px; height: 200px; padding: 10px">
    The dialog content.
</div>



@*<table id="dg" title="My Users" class="easyui-datagrid" style="width: 100%; height: 250px"
    url="get_users.php"
    toolbar="#toolbar" pagination="true"
    rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>
            <th field="firstname" width="50">表名</th>
            <th field="lastname" width="50">显示名称</th>
            <th field="phone" width="50">可扩展字段</th>
            <th field="email" width="50">Model实体名称</th>
            <th field="email" width="50">树形结构标志</th>
            <th field="email" width="50"></th>
            <th field="email" width="50"></th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newTable()">添加新表</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editUser()">编辑表</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyUser()">移除表</a>
</div>


<div id="dlg" class="easyui-dialog" title="自定义弹出窗体" style="width: 400px; height: 280px; padding: 10px 20px"
    closed="true" buttons="#dlg-buttons">
    <div class="ftitle">Title</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>表名:</label>
            <input name="firstname" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>显示名称:</label>
            <input name="lastname" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>可扩展字段:</label>
            <input name="phone" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>Model实体名称:</label>
            <input name="email" class="easyui-textbox" validtype="email">
        </div>
        <div class="fitem">
            <label>树形结构标志:</label>
            <input name="email" class="easyui-textbox" validtype="email">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="saveUser()" style="width: 90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width: 90px">Cancel</a>
</div>

<script type="text/javascript">
    var url;
    function newTable() {
        $('#dlg').dialog('open');//.dialog('setTitle', '添加新表');
        //$('#fm').form('clear');
        //url = 'save_user.php';
    }
    function editUser() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', 'Edit User');
            $('#fm').form('load', row);
            url = 'update_user.php?id=' + row.id;
        }
    }
    function saveUser() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.errorMsg) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                }
            }
        });
    }
    function destroyUser() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Confirm', 'Are you sure you want to destroy this user?', function (r) {
                if (r) {
                    $.post('destroy_user.php', { id: row.id }, function (result) {
                        if (result.success) {
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
        }
    }
</script>
<style type="text/css">
    #fm {
        margin: 0;
        padding: 10px 30px;
    }

    .ftitle {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .fitem {
        margin-bottom: 5px;
    }

        .fitem label {
            display: inline-block;
            width: 80px;
        }

        .fitem input {
            width: 160px;
        }
</style>*@
