@model System.Int32
@{
    Layout = null;
}

@Html.Hidden("TableID", @Model)
<input type="button" onclick="a()" />

<table id="dg" title="字典参数" class="easyui-datagrid" style="width: 100%; height: 205px" rownumbers="true" fitcolumns="true" url="Dic/GetColList/@Model" toolbar="#toolbar">
    <thead>
        <tr>
            <th field="ID" hidden="true">ID</th>
            <th field="Table" hidden="true">Table</th>
            <th field="Name" width="200">名称</th>
            <th field="Code" width="200">编码</th>
        </tr>
    </thead>
</table>

<div id="toolbar">
    <a id="CreateColumn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="CreateColumn()">添加字典</a>
    <a id="EditColumn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="EditColumn()">编辑字典</a>
    <a id="DeleteColumn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="DeleteColumn()">移除字典</a>
</div>


<div id="dlg" class="easyui-dialog" title="编辑字段" style="width: 400px; height: 280px; padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" novalidate>

        <input type="hidden" name="ID" />
        <input type="hidden" name="Table" />
        <div class="fitem">
            <label>字段名</label>
            <input name="Name" class="easyui-textbox" required="true" />
        </div>
        <div class="fitem">
            <label>字段编码</label>
            <input name="Code" class="easyui-textbox" required="true" />
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="saveCode()" style="width: 90px; flex-align: center;">保存</a>
    <a href="javascript:void(0)" calss="easui-linkbutton c6" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width: 90px"></a>
</div>

<script type="text/javascript">


    function CreateColumn() {
        $("#dlg").dialog("open").dialog('setTitle', '添加字典');
        $('#fm').form('clear');
    }

    function EditColumn() {
        var row = $("#dg").datagrid('getSelected');
        $("#dlg").dialog("open").dialog('setTitle', "修改字典");
        $("#fm").form("load", row);
    }

    function DeleteColumn() {
        var row = $("#dg").datagrid('getSelected');
        if (row) {
            $.messager.confirm('确定', '删除选中字典项?', function (r) {
                if (r) {
                    $.post("@Url.Action("DeleteColumn")", { id: row.id }, function (data) {
                        if (data.ErrorMsg) {
                            $.messager.show({ title: '错误', msg: data.ErrorMsg });
                        } else {
                            $("#dlg").dialog('closed');
                            $("#dg").datagrod('reload');
                        }
                    });
                }
            }, 'Json');
        }
    }

    $(function () {
        $("#dg").datagrid();
        $("#dlg").dialog();
        $("#CreateColumn").linkbutton();
        $("#EditColumn").linkbutton();
        $("#DeleteColumn").linkbutton();
    });
</script>
